body {
  font-size: 100%;
  line-height: 1;
  color: #000000;
  font-weight: normal;
  font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
}

.page-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
}

.product__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.285714;
  text-transform: uppercase;
}
